# Del practico 1 archivos q no interesan
Practicas/Practico1/node_modules
Practicas/Practico1/package-lock.json
/ISO
Tarea6/~$rea5-Modelos de Calidad (1).docx
Tarea6/~WRL2383.tmp
Tarea6/Tarea5-Modelos de Calidad (1).docx
